*{padding:0px;margin:0px;}
body{margin:0px;padding:0px;font-size:14px;color:#ccc;font-family:'Roboto', sans-serif;}
body::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);background-color:#F5F5F5;}
body::-webkit-scrollbar{width:5px;background-color:#F5F5F5;}
body::-webkit-scrollbar-thumb{background-color:#555;border:2px solid #555;}
h3{font-family:'Roboto', sans-serif;}
p{font-size:14px;margin:0px;padding:0px;color:#000}
section{min-height:650px;position:relative;padding:0px;margin:0px;width:100%;}
section .section-title{color: #e5a722;font-size: 48px;font-weight: 300;margin: 10px auto;padding: 5px;}
footer{z-index:0;height:auto;bottom:0px;position:relative;padding:60px 0 0px 0;margin:0px;}
.thin{font-weight:100;}
.small-letter{text-transform:lowercase}
.text-underline{text-decoration:underline}
.text-white{color:#fff !important;}
.border-underline{border-bottom:1px solid #3a3a3c}
.bg-lrd{background:#e5a722}
.title-strip{padding:0px 5px 5px;background:#e58d45;color:#fff}
.title-strip-dark{padding:10px 5px;background:#424242;color:#fff}
.first-letter-lrd{float:left;padding:0px 5px 2px;text-transform:uppercase;background:#f0af1e;margin:5px 6px 0px 0px;font-size:1.5em;color:#fff;}
.first-letter{float:left;padding:0px 5px 2px;text-transform:uppercase;background:transparent;margin:5px 6px 0px 0px;font-size:1.5em;color:#424242;border:2px solid #424242}
.strike{display:block;text-align:center;overflow:hidden;white-space:nowrap;width:25%;margin:0px 0px 30px 38%;}
.strike > span{position:relative;display:inline-block;padding:10px;border-radius:50%;border:1px solid #e9e9e9;color:#ccc;padding:10px 15px;}
.strike > span:before,
.strike > span:after{content:"";position:absolute;top:50%;width:9999px;height:1px;background:#e9e9e9;}
.strike > span:before{right:100%;}
.strike > span:after{left:100%;}
.show{display:block}
.hide{display:none}
.text-lrd{color:#e5a722}
.text-lrd-dark{color:#3a3a3c}
.btn{-webkit-font-smoothing:antialiased;border-radius:0px;padding:8px 20px;letter-spacing:1px}
.btn-lrd{background-color:#e5a722;color:#fff;}
.btn-lrd:hover{background-color:#da9a12;color:#fff;}
.btn-lrd-inverse{background-color:#e5a722;color:#fff;border-color:#fff;}
.btn-lrd-inverse:hover{color:#e5a722;background-color:#fff;border-color:#e5a722;}
.btn-lrd-lg{color:#e5a722;border-color:#e5a722;padding:12px 22px;font-size:16px;;background:transparent;}
.btn-lrd-lg:hover{color:#fff;background-color:#e5a722;}
input[type="text"]{height:40px;}
input[type="text"], textarea, input[type="email"]{border-radius:0px !important;box-shadow:none !important;border:1px solid #e6e6e6 !important;padding:6px 10px;resize:none;letter-spacing:1px;}
input[type="text"]:focus, textarea:focus, input[type="email"]:focus{box-shadow:none;border-color:#e9e9e9 !important;}
.web-preloader{width:100%;top:0px;left:0px;background:#fff;background-image:url('../images/loader.gif');background-size:inherit;background-position:43% 45%;background-repeat:no-repeat;height:100vh;position:fixed;z-index:10000;}
@-webkit-keyframes bounce{0%, 20%, 50%, 80%, 100%{-webkit-transform:translateY(0);}
                          40%{-webkit-transform:translateY(-20px);}
                          60%{-webkit-transform:translateY(-10px);}
}
@-moz-keyframes bounce{0%, 20%, 50%, 80%, 100%{-moz-transform:translateY(0);}
                       40%{-moz-transform:translateY(-20px);}
                       60%{-moz-transform:translateY(-10px);}
}
@-o-keyframes bounce{0%, 20%, 50%, 80%, 100%{-o-transform:translateY(0);}
                     40%{-o-transform:translateY(-20px);}
                     60%{-o-transform:translateY(-10px);}
}
@keyframes bounce{0%, 20%, 50%, 80%, 100%{transform:translateY(0);}
                  40%{transform:translateY(-20px);}
                  60%{transform:translateY(-10px);}
}
@-webkit-keyframes rotating{from{-ms-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);}
                            to{-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);}
}
@keyframes rotating{from{-ms-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);}
                    to{-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);}
}
.rotating{-webkit-animation:rotating 3s linear infinite;-moz-animation:rotating 3s linear infinite;-ms-animation:rotating 3s linear infinite;-o-animation:rotating 3s linear infinite;animation:rotating 3s linear infinite;}
@-webkit-keyframes rotating-reverse{from{-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);}
                                    to{-ms-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);}
}
@keyframes rotating-reverse{from{-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);}
                            to{-ms-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);}
}
.rotating-reverse{-webkit-animation:rotating-reverse 3s linear infinite;-moz-animation:rotating-reverse 3s linear infinite;-ms-animation:rotating-reverse 3s linear infinite;-o-animation:rotating-reverse 3s linear infinite;animation:rotating-reverse 3s linear infinite;}
.logo{margin:0 0 0 20px;padding:7px 0px;position:relative;z-index:9;width:170px;}
.logo img{margin:0;padding:0;float:left;width:100%;}
.slogan{left:20%;margin:0 0 0 -1px;padding:17px 10px 0 11px;position:absolute;}
.slogan p{border-left:1px solid #f7b118;color:#404041 !important;font-size:15px !important;padding:0 0 0 20px;}
.section-dark{background:#f4f7f9}
.section-light{background:#fff}
.navbar-brand{padding:0px;}
.nav > li > a{}
.navbar{border-radius:0px;margin-bottom:0;background:#fff;border:none;}
.navbar-default .rightMenu li{list-style:none;}
.navbar-default .rightMenu li a{display:block;padding:30px 25px;transition:all 0.9s ease 0s;position:relative;font-size:1.2em;font-weight:300;color:#444;text-align:center;text-transform:capitalize;margin:0;}
.navbar-default .rightMenu li a.active,
.navbar-default .rightMenu li a.active:focus,
.navbar-default .rightMenu li a.active:hover{}
.basic section{min-height: 0px;padding:40px 0px;text-align: center}
.basic section p{font-size: 16px;}
.banner{background:#181B27;position:relative;height:100vh}
.inner-banner h1{margin-top:40px;}
.inner-banner{margin-bottom: 30px;}
footer .copyright{margin:40px 0 0 0;padding:15px 0;text-align:center;}
footer .copyright p{line-height:22px;font-size:13px;padding:0px;}
@keyframes menubrd{0%{opacity:0;width:0%;border-color:#f7b319;}
                   100%{opacity:1;width:100%;border-color:#f7b319;}
}
@keyframes whyusimg{0%{transform:translateY(-60px);}
                    50%{transform:translateY(-40px);}
                    100%{transform:translateY(-60px);}
}
@keyframes whyusimg1{0%{transform:translateY(-70px);transform:scaleY(180deg);}
                     50%{transform:translateY(-40px);transform:scaleY(0deg);}
                     100%{transform:translateY(-70px);transform:scaleY(180deg);}
}
@keyframes whyusimg2{0%{transform:translateY(-60px);}
                     50%{transform:translateY(-40px);}
                     100%{transform:translateY(-60px);}
}

.first-section{padding-top:80px;}